<% provide(:title, "Home") %>


<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>
<p>This is the <%= yield(:title) %> page for the Ruby on Rails tutorial</p>


  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>


</div>
